.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    text-decoration: underline;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
    color: black;
  }
  
  .menu-item-description {
    line-height: 1.6;
    color: black;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }
  
  .menu-item-price {
        color: white;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #orderBut {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    width: 90%;
  }