#addUser {
    display: none;
}

#viewUser {
    display: none;
}

#DOM {
    display: none;
}

#editCodes {
    display: none;
}

#news {
    display: none;
}

#newNews {
    display: none;
}

#newUpdate {
    display: none;
}

#editUpdate {
    display: none;
}

#edditUp {
    display: none;
}