.adminHomeContent {
    display: none;
}

#type-box {
    margin-bottom: 20px;
    padding: 20px;
    height: 100px;
    width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#type-box:hover {
    transform: scale(1.05); /* Scales the div to 105% on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly increased shadow on hover */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}

#box-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
}


#box-content {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minimum width as needed */
    grid-gap: 20px;
}

.type-box {
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
