button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }
  
  .serviceHead {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  
  #welcome {
    margin-top: 10px;
    font-size: 40px;
  }
  
  .service {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  
  .serviceContent {
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  #ttHead {
    background-color: #3FA7D6;
  }
  
  #ttcont {
    background-color: #373F51;
    color: white;
  }
  
  #osHead {
    background-color: #DD6E42;
  }
  
  #osConnt {
    background-color: #373F51;
    color: white;
  }
   
  #ggHead {
    background-color: #F21B3F;
  }
  
  #sHead {
    background-color: #B14AED;
  }
  
  #oHead {
    background-color: #8E936D;
  }

  #aHead {
    background-color: #F3A091;
  }
  
  #ggConnt {
    background-color: #373F51;
    color: white;
  }
  
  boddy {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .group {
    margin-bottom: 20px;
  }
  
  .group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .group button {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style for input fields */
  #fname,
  #mname,
  #lname,
  #usernamee,
  #passwordd,
  #dob {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }